HeaderFilterRegex: '(src|include)/.*'
Checks: >
  -*,
  bugprone-*,
  performance-inefficient-vector-operation,
  performance-unnecessary-copy-initialization,
  readability-misleading-indentation,
  readability-simplify-boolean-expr
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0,1'
WarningsAsErrors: ''
FormatStyle: file
UseColor: false
