HeaderFilterRegex: '(src|include)/.*'
Checks: >
  -*,
  bugprone-*,
  performance-inefficient-vector-operation,
  performance-unnecessary-copy-initialization,
  readability-braces-around-statements,
  readability-misleading-indentation,
  readability-simplify-boolean-expr
CheckOptions:
  - key: readability-magic-numbers.IgnoreAssignmentValues
    value: 'true'
WarningsAsErrors: ''
FormatStyle: file
UseColor: false
